# =========================
# Java / Spring Boot
# =========================

# Compiled class files
*.class

# Logs
*.log

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# BlueJ
*.ctxt

# J2ME
.mtj.tmp/

# =========================
# Maven
# =========================

target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# =========================
# IDEs
# =========================

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# =========================
# Build folders
# =========================

build/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# Misc
# =========================

HELP.md
